*.ipynb filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
California[[:space:]]Housing[[:space:]]Prices[[:space:]]-[[:space:]]ESDA.ipynb filter=lfs diff=lfs merge=lfs -text
california_home_map.html filter=lfs diff=lfs merge=lfs -text
